


/* Inspecta CSS Changes - Auto Applied */
body > #root > div.css-198drv2.ant-app > div.ecommerce-dashboard > div.ant-row.metric-cards.css-dev-only-do-not-override-pjc478 > div.ant-col.ant-col-xs-24.ant-col-sm-12.ant-col-lg-6.css-dev-only-do-not-override-pjc478:nth-of-type(2) > div.ant-card.css-dev-only-do-not-override-pjc478 > div.ant-card-body > div.ant-statistic.css-dev-only-do-not-override-pjc478 > div.ant-statistic-content > span.ant-statistic-content-prefix > span.anticon.anticon-user > svg > path {
  color: #3f8600 → #FAAD14;
}

body > #root > div.css-198drv2.ant-app > div.ecommerce-dashboard > div.ant-row.metric-cards.css-dev-only-do-not-override-pjc478 > div.ant-col.ant-col-xs-24.ant-col-sm-12.ant-col-lg-6.css-dev-only-do-not-override-pjc478:nth-of-type(2) > div.ant-card.css-dev-only-do-not-override-pjc478 > div.ant-card-body > div.ant-statistic.css-dev-only-do-not-override-pjc478 > div.ant-statistic-content > span.ant-statistic-content-value > span.ant-statistic-content-value-int {
  color: #3f8600 → #FAAD14;
}

body > #root > div.css-198drv2.ant-app > div.ecommerce-dashboard > div.ant-row.metric-cards.css-dev-only-do-not-override-pjc478 > div.ant-col.ant-col-xs-24.ant-col-sm-12.ant-col-lg-6.css-dev-only-do-not-override-pjc478:nth-of-type(3) > div.ant-card.css-dev-only-do-not-override-pjc478 > div.ant-card-body > div.ant-statistic.css-dev-only-do-not-override-pjc478 > div.ant-statistic-content > span.ant-statistic-content-prefix > span.anticon.anticon-shopping-cart > svg {
  color: #cf1322 → #1890FF;
}

body > #root > div.css-198drv2.ant-app > div.ecommerce-dashboard > div.ant-row.metric-cards.css-dev-only-do-not-override-pjc478 > div.ant-col.ant-col-xs-24.ant-col-sm-12.ant-col-lg-6.css-dev-only-do-not-override-pjc478:nth-of-type(3) > div.ant-card.css-dev-only-do-not-override-pjc478 > div.ant-card-body > div.ant-statistic.css-dev-only-do-not-override-pjc478 > div.ant-statistic-content > span.ant-statistic-content-value > span.ant-statistic-content-value-int {
  color: #cf1322 → #1677FF;
}

